.title {
  margin-top: 0;
  padding:10px;
  color: #d4d4c3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Dancing Script", cursive;
  font-size: 2.7rem;
  background: rgba(48, 35, 35, 0.815);
}
.textFild {
  color: rgb(255, 255, 255);
}
.grid{
  background-color: rgba(209, 208, 209, 0.966);
  padding:20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.typography{
  height: 100vh;
  /* background:url('../asset/StockSnap_GDQF7E19UL.jpg') ;
  background-size: 100%; */
}

.btn{
 padding-left: 13px;
}
.list{
  font-family: 'Nunito', sans-serif;
  overflow: auto;
  margin-top: 6vh;
  padding: 1.2rem;
  height:60vh;
  background-color: rgba(216, 191, 216, 0.685);
  border-radius: 5px;
  font-size:x-large;
}
.li{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.done{
  
  padding: 5px;
  border-radius: 7px;
  color: rgb(204, 211, 204);
  font-size:large;
}