.title {
  margin-top: 0;
  padding:10px;
  color: #22221e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Dancing Script", cursive;
  font-size: 2.7rem;
  background: rgba(236, 233, 233, 0.815);
}
.textFild {
  color: rgb(255, 255, 255);
}
.grid{
  background-color: rgba(204, 191, 204, 0.856);
  padding:20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.typography{
  height: 100vh;
  /* background:url('../asset/StockSnap_GDQF7E19UL.jpg') ;
  background-size: 100%; */
}

.btn{
 padding-left: 13px;
}